@font-face {
    font-family: 'Britannic';
    src: url('../britannic/BRITANIC.TTF');
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
.greeting h2{
    animation: blinker 1.5s linear infinite;
    text-align: center;
}
.column-heading{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 100%;
}
.project-name{
    font-family: 'britannic';
    background-color: none;
    text-transform: uppercase;
}
.project-name.in-progress{
    color: #2b17dd;
}
.project-name.todo{
    color: #000;
}
.project-name.testing{
    color: #2b17dd;
}
.project-name.bug,
.project-name.instruction{
    color: #d52c22;
}
.project-name.excellent,
.project-name.bad{
    color: #b713bf;
    background-color: #000;
}
button.done-task{
    background-color: unset;
    color: #2b17dd;
    font-family: 'britannic';
    text-transform: uppercase;
}
.time-box{
    display: flex;
    flex-direction: column;
}
.countdown{
    font-weight: bold;
}
span.deadline{
    font-weight: bold;
    color: #fff;
    background: #3f2e02;
}